---
layout: default
redirect_from:
    - /content/contact-us/
    - /content/sponsors/
---
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/assets/js/slideshow.js"></script>
<link href="/assets/css/home.css" rel="stylesheet">
<div class="progress">
      <div class="determinate" style="width: 100%"></div>
</div>

<div class="row index">
    <div class="active col s1">
        <a>1</a>
    </div>
    <div class="col s1">
        <a>2</a>
    </div>
    <div class="col s1">
        <a>3</a>
    </div>
    <div class="col s1">
        <a>4</a>
    </div>
    <div class="col s1">
        <a>5</a>
    </div>
</div>

<div id="slideshow" class="col s10">
    {% assign active = false %}
    {% for post in site.posts limit:5 %}
        {% if active %}
            <div class="slide">
        {% else %}
            <div class="slide active">
            {% assign active = true %}
        {% endif %}
            <img src="{{ post.images[0] }}">
            <div class="preview card blue">
                <a href="{{ post.url }}"><span class="card-title">{{ post.title }}</span></a>
                <div class="divider"></div>
                <div class="card-content white-text">
                    <p class="card-text">{{ post.text }}</p>
                </div>
                <div class="divider"></div>
                <div class="card-action">
                    <a href="{{ post.url }}">Read more...</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
