---
layout: default
---

<link rel="stylesheet" href="/assets/css/team.css">

<div class="container">
    <div class="content">
            <h2>Our Team</h2>

            <div id="member-list">
                {% for member in site.data.team %}
                {% if member[1].alumni == null %}

                <div class="card">
                    <div class="profile">
                        <img id="profile-img" src="{{ member[1].image }}">
                        <h4>{{ member[0] }}</h2>
                        <h5>{{ member[1].specialization }}</h5>

                        {% if member[1].links != "{}" %}
                            <p>
                                {% for link in member[1].links %}
                                    <p>{{ link }}</p>
                                    <!-- <i class="fa fa-link" style="color: #4085ea"></i>
                                    <a href="{{ member[1].link }}" style="color: #40A1EA; text-decoration: underline;" target="_blank">{{ member[1].link-type }}</a> -->
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                </div>

                {% endif %}
                {% endfor %}
            </div>
    </div>
</div>
