---
layout: default
---

<link rel="stylesheet" href="/assets/css/team.css">

<div class="container">
    <div class="content">
            <h2>Our Team</h2>

            <div id="member-list">
                {% for member in site.data.team %}
                {% if member[1].alumni == null %}

                <div class="card">
                    <div class="profile">
                        <img id="profile-img" src="{{ member[1].image }}">
                        <h4>{{ member[0] }}</h2>
                        <h5>{{ member[1].specialization }}</h5>

                        {% if member[1].links != "{}" %}
                            <p>
                                {% if member[1].links.Personal != null %}
                                <i class="fa fa-link" style="color: #4085ea"></i>
                                <a href="{{ member[1].links.Personal }}" style="color: #40A1EA; text-decoration: underline;" target="_blank">Personal Website</a><br>
                                {% endif %}
                                {% if member[1].links.GitHub != null %}
                                <i class="fa fa-github" style="color: #4085ea"></i>
                                <a href="{{ member[1].links.GitHub }}" style="color: #40A1EA; text-decoration: underline;" target="_blank">GitHub</a><br>
                                {% endif %}
                                {% if member[1].links.Instagram != null %}
                                <i class="fa fa-instagram" style="color: #4085ea"></i>
                                <a href="{{ member[1].links.Instagram }}" style="color: #40A1EA; text-decoration: underline;" target="_blank">Instagram</a><br>
                                {% endif %}
                                {% if member[1].links.LinkedIn != null %}
                                <i class="fa fa-linkedin" style="color: #4085ea"></i>
                                <a href="{{ member[1].links.LinkedIn }}" style="color: #40A1EA; text-decoration: underline;" target="_blank">LinkedIn</a><br>
                                {% endif %}
                                {% if member[1].links.Email != null %}
                                <i class="fa fa-envelope" style="color: #4085ea"></i>
                                <a href="{{ member[1].links.Email }}" style="color: #40A1EA; text-decoration: underline;">Email</a><br>
                                {% endif %}
                            </p>
                        {% endif %}
                    </div>
                </div>

                {% endif %}
                {% endfor %}
            </div>
    </div>
</div>
