---
layout: default
redirect_from:
    - /about/about-us/
    - /about/members/
    - /about/divisions/
---
<meta name="description" content="Brooklyn Technical High School's Robotics Team has been an integral part of the school community since the team's founding. It encompasses the school's spirit of engineering achievement and innovation, while fostering the development of young leaders. Members are encouraged to take initiative under the guidance of seasoned coaches and mentors.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="/assets/js/aboutus.js"></script>
<link href="/assets/css/aboutus.css" rel="stylesheet">
<div id="aboutus" class="navbar-fixed">
    <nav class="main">
        <div class="nav-wrapper">
            <div class="nav breadcrumbs col s12">
                <a href="#aboutus" class="breadcrumb"><i class="fa fa-bars"></i>About Us</a>
            </div>
        </div>
    </nav>
</div>
<div class="section" name=""></div>
<div class="section" name="introduction">
    <nav class="section" name="Introduction">
        <div class="nav-wrapper" id="introduction">
            <div class="breadcrumbs col s12">
                <a href="#introduction" class="breadcrumb">Introduction</a>
            </div>
        </div>
    </nav>
    <div class="mobile us">
        <img src="/assets/images/teamphoto.jpg" class="responsive-img" />
    </div>
    <div class="card-panel blue darken-4">
        <div class="row valign-wrapper">
            <div class="col s12 m8 l8">
                <span class="egg-text">
        Brooklyn Technical High School's Robotics Team has been an integral part of the school community since the team's founding. It encompasses the school's spirit of engineering achievement and innovation, while fostering the development of young leaders. Members are encouraged to take initiative under the guidance of seasoned coaches and mentors.
                 </span>
                 <br /> <br />
                 <span class="egg-text">
                        The team focuses on its annual participation in the FIRST Robotics Competition. The US FIRST organization was founded by Dean Kamen in 1989, citing its goals as, "to transform our culture by creating a world where science and technology are celebrated and where young people dream of becoming science and technology leaders." Each year, it challenges teams to design, build, wire and program a robot within a six week time period. The build season culminates in regional competitions, as well as a final championship. The mission of this competition is to encourage the active participation of youth, in the hopes of inspiring them to pursue STEM related fields.
                </span>
                <br /> <br />
                <span class="egg-text">
                    Since its founding, the Brooklyn TechKnights have competed each year, gaining a vast collection of knowledge and experience. The team continues to refine its technique by fostering the growth of successive generations of engineers, ones who will not only dominate in competition, but will become leaders in their respective fields.
                </span>
            </div>
            <div class="col s4 us">
                <img src="/assets/images/teamphoto.jpg" class="responsive-img valign" />
            </div>
        </div>
    </div>
</div>
<div class="section" name="divisions">
    <nav class="section" name="Divisions">
        <div class="nav-wrapper" id="divisions">
            <div class="breadcrumbs col s12">
                <a href="#divisions" class="breadcrumb">Divisions</a>
            </div>
        </div>
    </nav>
    <ul class="collapsible" data-collapsible="expandable">
      <li>
          <div class="collapsible-header"><i class="fa fa-wrench"></i>Leads</div>
          <div class="collapsible-body">
              <div class="row">
                  {% for member in site.data.members.Leads %}
                      {% if member[1].hidden == null %}
                          <div class="col l2 m2 s3">
                              <div class="person card">
                                  <div class="card-image">
                                      <img src="{{ member[1].image }}">
                                  </div>
                                  <p class="title2">{{ member[1].title }}<br></p><p class="title"><b style="font-size: .8em">{{ member[0] }}</b></p>
                                  <div class="card-content">
                                    {% if member[1].title %}
                                      <p class="name">{{ member[1].title }}</p>
                                    {% endif %}
                                      <p class="quote">{{ member[1].quote }}</p>
                                  </div>
                              </div>
                          </div>
                      {% endif %}
                  {% endfor %}
              </div>
          </div>
      </li>
        <li>
            <div class="collapsible-header"><i class="fa fa-laptop"></i>Programming</div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="info col s12">
                        The programmers are responsible for writing the code that makes the robot come alive, figuratively speaking. The coding process starts the very first day, after game strategies are laid out by the team. Flow charts are made and then the programmers go off to their tasks. They write the code for the robot's basic functions before it is built and then continue with more advanced programs- like the autonomous code- after the body is made and wired.
                    </div>
                    {% for member in site.data.members.Programming %}
                        {% if member[1].hidden == null %}
                            <div class="col l2 m2 s3">
                                <div class="person card">
                                    <div class="card-image">
                                        <img src="{{ member[1].image }}">
                                    </div>
                                    <p class="title">{{ member[0] }}</p>
                                    <div class="card-content">
                                      {% if member[1].title %}
                                        <p class="name">{{ member[1].title }}</p>
                                      {% endif %}
                                        <p class="quote">{{ member[1].quote }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fa fa-lightbulb-o"></i>Electrical</div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="info col s12">
                        Following the initial prototyping stages, the electrical division analyzes the body of the robot to determine the best way to layout the wiring and components. The members wire everything as neatly and efficiently as possible to ease any troubleshooting that may happen in the future. They work closely with the programming division because the wiring can affect how the code is carried out.
                    </div>
                    {% for member in site.data.members.Electrical %}
                    {% if member[1].hidden == null %}
                        <div class="col l2 m2 s3">
                            <div class="person card">
                                <div class="card-image">
                                    <img src="{{ member[1].image }}">
                                </div>
                                <p class="title">{{ member[0] }}</p>
                                <div class="card-content">
                                  {% if member[1].title %}
                                    <p class="name">{{ member[1].title }}</p>
                                  {% endif %}
                                    <p class="quote">{{ member[1].quote }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fa fa-cogs"></i>Mechanical</div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="info col s12">
                        The mechanical division comprises the largest part of the team, with 12 members this year. Immediately after Kickoff, this division develops the basic design for the robot, after which they then utilize the Autodesk Inventor program to digitally model the robot components. Following this, they are able to start building components and prototyping while keeping in mind space, weight, and other various constraints. Most of the body is machined in Brooklyn Tech's own machine shop by the team members.
                    </div>
                    {% for member in site.data.members.Mechanical %}
                    {% if member[1].hidden == null %}
                        <div class="col l2 m2 s3">
                            <div class="person card">
                                <div class="card-image">
                                    <img src="{{ member[1].image }}">
                                </div>
                                <p class="title">{{ member[0] }}</p>
                                <div class="card-content">
                                  {% if member[1].title %}
                                    <p class="name">{{ member[1].title }}</p>
                                  {% endif %}
                                    <p class="quote">{{ member[1].quote }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="fa fa-camera"></i>Media</div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="info col s12">
                        Our media divison is responsible for documenting our team's endeavors for our website's blog. The medias serve as both our photographers and videographers as they coordinate with our website manager to distribute our content to the world. This division also allows for students who may not be interested in engineering to nevertheless contribute to the robotics team.
                    </div>
                    {% for member in site.data.members.Media %}
                    {% if member[1].hidden == null %}
                        <div class="col l2 m2 s3">
                            <div class="person card">
                                <div class="card-image">
                                    <img src="{{ member[1].image }}">
                                </div>
                                <p class="title">{{ member[0] }}</p>
                                <div class="card-content">
                                  {% if member[1].title %}
                                    <p class="name">{{ member[1].title }}</p>
                                  {% endif %}
                                    <span class="quote">{{ member[1].quote }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
<li>
<div class="collapsible-header"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Coaches</div>
  <div class="collapsible-body">
    <div class="mentors">
        <div class="row"><center class="center-align">
            <div class="col s12 m2 l3">
              <div class="person card">
                  <div class="card-image">
                      <img src="/assets/images/members/mrsdoherty.jpg" />
                  </div>
                  <p class="title">Shaina Doherty</p>
                  <div class="card-content">
                      <p class="name">Team Coach</p>
                      <span class="quote">Someone help us. We are in the hands of engineers.</span>
                  </div>
              </div>
            </div>
            <div class="col s12 m2 l3">
                <div class="person card">
                    <div class="card-image">
                        <img src="/assets/images/members/Mr.Lyons.jpg" />
                    </div>
                    <p class="title">Timothy Lyons</p>
                    <div class="card-content">
                        <p class="name">Mechanical Coach</p>
                        <span class="quote"></span>
                    </div>
                </div>
              </div>
            <div class="col s12 m2 l3">
                <div class="person card">
                    <div class="card-image">
                        <img src="/assets/images/members/mrlevin.jpg" />
                    </div>
                    <p class="title">Nathan Levin</p>
                    <div class="card-content">
                        <p class="name">Programming Coach</p>
                        <span class="quote">Robots are like people. 3D printed people. Robots are the future of people.</span>
                    </div>
                </div>
            </center></div>
        </div>
    </div>
  </div>
  </li>
</ul>
</div>
<footer class="page-footer">
    <div class="container">
    </div>
    <div class="footer-copyright">
        <span> © 2016 Team 334 - Tech Knights </span>
    </div>
</footer>
<div id="personmodal" class="modal">
    <div class="modal-content">
      <h4></h4>
      <h5></h5>
      <div class="quote"></div>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close btn-flat">Close</a>
    </div>
  </div>
