nav {
    background-color: #1976D2 !important;
}

nav.main {
    background-color: #0D47A1 !important;
}

.section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

div[name=""] {
    display: none;
}

.card-panel {
    margin: 0 !important;
    border-radius: 0 !important;
}

span.egg-text {
    padding-left: 2em;
    color: #eee;
}

ul.collapsible {
    margin: 0 !important;
}

.title {
    padding: 5px !important;
    background-color: #0d47a1;
    color: #eee !important;
    text-align: center;
    font-weight: bold;
}

.mentors .col {
    padding: 0 !important;
}

.mentors .card {
    box-shadow: initial !important;
    border-radius: 0 !important;
}

.mentors img {
    border-radius: 0 !important;
}

.card-content p {
    padding: 0 !important;
}

.name {
    color: #0d47a1 !important;
    font-weight: bold;
}

.section[name=divisions] .info {
    background-color: #0D47A1;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 1em;
    padding-right: 1em;
    color: #eee;
}

.row {
    margin-bottom: 0 !important;
}

.collapsible {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}

.collapsible-header.active {
    background-color: #1E88E5;
    border-bottom: initial !important;
    color: #eee;
}

.card-content {
    padding-top: 10px !important;
}

.mentors {
    background-color: #fff !important;
}

.mentors .title {
    margin: 0 !important;
}

.mentors .card {
    margin: 0 !important;
    background-color: #fff;
}

.mentors .card-content {
    background-color: #fff !important;
    padding-left: 10px !important;
}

.mentors .mid .card-content {
    border-right-style: solid;
    border-right-color: #eee !important;
    border-left-style: solid;
    border-left-color: #eee !important;
}

.page-footer {
    background-color: #1976D2 !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.footer-copyright span {
    color: #eee !important;
    padding-left: 10px;
}

.fa.fa-bars {
    line-height: inherit !important;
    padding-right: 0.5em;
}

@media all
and (max-width: 992px) {
    #sidebar {
        display: none;
    }    
}
