nav {
    background-color: #1976D2 !important;
}

nav.main {
    background-color: #0D47A1 !important;
}

.section {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

div[name=""] {
    display: none;
}

.card-panel {
    margin: 0 !important;
}

span.egg-text {
    padding-left: 2em;
    color: #eee;
}

ul.collapsible {
    margin: 0 !important;
}

.title {
    padding: 5px !important;
    background-color: #0d47a1;
    color: #eee !important;
    text-align: center;
    font-weight: bold;
}

.title.mentor {
    margin: 0;
    background-color: #1e88e5 !important;
}

.card-content p {
    padding: 0 !important;
}

.name {
    color: #0d47a1 !important;
    font-weight: bold;
}

.row {
    margin-bottom: 0 !important;
}

.collapsible {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}

.collapsible-header.active {
    background-color: #1E88E5;
    color: #eee;
}

.card-content {
    padding-top: 10px !important;
}

.mentors {
    background-color: #e3f2fd !important;
}
