.post {
    border-radius: 10px !important;
    padding: 0px !important;
}

.fa {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.post .chip {
    margin-left: 15px;
}

.post-title {
    background-color: #fff !important;
    color: #389dc1 !important;
    margin-top: 0 !important;
    padding: 15px 15px 0px 15px;
    font-weight: 500;
    font-size: 2em;
}

.post-date {
    padding: 0px 15px 15px 0px;
}

.progress {
    border-radius: 0px !important;
}

.progress .determinate {
    background-color: #1976D2 !important;
}

.progress.start {
    top: 10px !important;
}

.container.content {
    padding-bottom: 10px;
}

.slider .indicators .indicator-item {
    width: 13px !important;
    height: 13px !important;
    margin: 0 5px !important;
}

.slider {
    height: 419px !important; 
}

.slider .indicators .indicator-item.active {
    background-color: #1976D2 !important;
}

.pagination {
    margin-top: 0 !important;
}

.pagination > .active {
    background-color: #1976D2 !important;
}
