body {
    background-color: #F9F9F9;
    margin: 0;
}

/* Content */
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;
}

.content {
    width: 80%;
    height: 63%;
    font-size: 19;
    color: #666666;
    font-family: 'Open Sans';
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
}

.text {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    margin: 0;
    font-weight: bolder;

    -webkit-margin-after: .75em;
}

h3 {
    margin: 0;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
}

h4 {
    margin-top: 5px;
    -webkit-margin-after: .75em;

    font-family: 'Work Sans';
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media (max-width: 1200px) {

    /* Switch to responsive column view */
    .info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .contact {
        padding-left: 0;
    }

    #title {
        width: 100% ! important;
    }
    #details {
        width: 100% ! important;
        margin-top: 20px;
    }

    #proj-category {
        margin-top: 19px ! important;
    }

    h4 {
        -webkit-margin-before: 1em;
        -webkit-margin-after: .5em;
    }

    h2 {
        -webkit-margin-after: .5em;
    }
}

@media (max-width: 530px) {

    .contact-container {
        padding-bottom: 20px;
    }
    .content {
        height: auto;
    }

}
