.progress {
    margin: initial !important;
    border-radius: initial;
}

.progress .determinate {
    background-color: #1976D2 !important;
}

#slideshow {
    height: 100vh;
}

#slideshow img {
    width: 100%;
    height: 100vh;
    right: 0;
    object-fit: cover;
} 

#slideshow img.slide {
    position: absolute;
    z-index: 1;    
}

#slideshow img.active.slide {
    z-index: 3;
}

#tabs {
    position: absolute;
    width: 100%;
    z-index: 4; 
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    overflow: hidden;
}

.tabs .indicator {
    background-color: #1976D2 !important;
}

.tab > a {
    color: #039be5 !important;
}

.preview {
    position: absolute;
    display: none;
    top: 100px;
    width: 300px;
    opacity: 0.99;
    z-index: 6; 
}

.preview.active {
    display: block;
    z-index: 8;
}

.preview.card-content.card-title {
    color: black !important;
}

.card-title {
    font-weight: 500 !important;
    color: #eee !important;
}

.card-action {
    padding-right: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
}

.card-action > a {
    color: #eee !important;
}
