/* Content */

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;
}

.content {
    width: 80%;
    font-size: 19;
    color: #666666;
    font-family: 'Open Sans';
}

h2 {
    margin: 0;
    font-weight: bolder;
}

#team-photo {
    text-align: center;
    padding: 4% 20%;
}

@media (max-width: 675px) {
    #team-photo {
        padding: 0;
    }
}

/*
    Background Video
    Implemented from: https://codepen.io/cvn/pen/WbXEoX
*/

.fullscreen-bg {
    overflow: hidden;
    z-index: -100;
    width: 100%;
    height: 87%;

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    background-color: black;
}
.video-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.video-bg .video-fg, .video-bg iframe, .video-bg video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .video-bg.cover .video-fg {
        height: 300%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-bg.cover .video-fg {
        width: 300%;
        left: -100%;
    }
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .video-bg.cover .video-fg.supports-cover {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .video-bg.cover video {
        -o-object-fit: cover;
           object-fit: cover;
    }
}

.video-bg.contain {
    font-size: 0;
}
.video-bg.contain * {
    font-size: 16px;
}
.video-bg.contain:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.video-bg.contain .video-fg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
@media (min-aspect-ratio: 16/9) {
  .video-bg.contain .video-fg {
    height: 100%;
    padding-bottom: 0;
    max-width: (unit(@size, vh) * 16 / 9);
    left: 50%;
    margin-left: (unit(@size, vh) * 16 / 9) / -2;
  }
}

.heading {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 100;

    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Pathway Gothic One';
    text-transform: uppercase;
}

@media (max-width: 425px) {
    .heading {
        font-size: 55px;
        text-align: left;
    }
}

/* Work Portfolio */

.photo-gallery {
    text-align: center;

    margin-top: 40px;
    margin-bottom: 40px;
}

.gallery-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@media (max-width: 675px) {
    .gallery-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.photo-item {
    width: 33.33333%;
    position: relative;
}

@media (max-width: 675px) {
    .photo-item {
        width: 100%
    }
}

.photo-item img {
    max-width: 100%;
    height: auto;

    display: block;
    opacity: 1;
}

.photo-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    background-color: black;
    opacity: 0;

    -webkit-transition: opacity 0.5s ease;

    -o-transition: opacity 0.5s ease;

    transition: opacity 0.5s ease;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    color: white;

}

.photo-item:hover .overlay {
    opacity: .85;
}

/* Sponsor Gallery */

.sponsor-row {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sponsor-item {
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sponsor-item img {
    width: 250px;
    max-width: 100%;
    height: auto;
}
