#sidebar {
    position: fixed;
    height: 100vh;
    z-index: 9;
}

#content {
    position: absolute;
    background-color: #eee;
    min-height: 100vh;
    padding: 0;
    right: 0;
    z-index: 5;
}

#logo {
    padding: 20px;
}

.divider {
    background-color: #cfd8dc !important;
}

.oitem {
    font-color: white;
    background-color: #1e88e5 !important;
    padding: 8 !important;
}

.social {
    font-size: 25px;
}

.hoverable:hover {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.social {
}

.social .fa {
    color: #eee !important;
    border-radius: 3px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.social .fa:hover {
    background-color: #eee !important;
    color: #1976D2 !important;
}
