#sidebar {
    position: fixed;
    height: 100vh;
    z-index: 9;
}

#content {
    position: absolute;
    background-color: #eee;
    padding: 0;
    height: 4000px;
    right: 0;
    z-index: 5;
}

#logo {
    padding: 20px;
}

.divider {
    background-color: #cfd8dc !important;
}

.oitem {
    font-color: white;
    background-color: #1e88e5 !important;
    padding: 8 !important;
}

.social {
    font-size: 25px;
}

.hoverable:hover {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}


