#sidebar {
    position: fixed;
    height: 100vh;
    background-color: #0D47A1 !important;
    z-index: 9;
}

#content {
    position: absolute;
    background-color: #eee;
    min-height: 100vh;
    padding: 0;
    right: 0;
    z-index: 5;
}

#logo {
    padding: 20px;
}

.divider {
    background-color: #cfd8dc !important;
}

.oitem {
    font-color: white;
    background-color: #1976D2 !important;
    padding: 8 !important;
}

.social {
    font-size: 25px;
}

.hoverable:hover {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.social {
}

.social .fa {
    color: #eee !important;
    border-radius: 3px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.social .fa:hover {
    background-color: #eee !important;
    color: #1976D2 !important;
}

p.sponsor {
    color: #eee;
    font-weight: 315;
    margin-bottom: 0px;
}

div.sponsor {
    opacity: 0.95;
    padding: 5px;
    bottom: 0;
    border-radius: 10px;
    background-color: #eee;
}

div.sponsor img {
    padding-top: 3px;
    padding-bottom: 3px;
}

.sponsor .row {
    margin-bottom: 10px !important;
} 

.sponsor .row .col {
    padding-right: 0.30rem !important;
    padding-left: 0.30rem !important;
}
