---
layout: default
redirect_from: 
    - /blog-2/
---
<meta name="description" content="The TechKnights are Brooklyn Tech High School's robotics team. We compete as Team 334 in the US FIRST competitions.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/assets/js/blog.js"></script>
<link href="/assets/css/blog.css" rel="stylesheet">

{% for post in paginator.posts %}
<div class="container">
    <div class="card-panel post">

        <h4 class="post-title flow-text"><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <div class="chip">
                <img src="{{ site.data.members.Media[post.author].image }}">
                {{ post.author }}
            </div>
        <span class="post-date"><i class="fa fa-calendar"></i>{{ post.date | date: '%B %d, %Y' }}</span>
        <br /><br />
        <div class="slider">
            <ul class="slides">
                {% for img in post.images %}
                    <li>
                        <img src="{{ img }}" />
                    </li> 
                {% endfor %}
            </ul>
        </div>
        <div class="progress end">
            <div class="determinate" style="width: 100%"></div>
        </div>
        <div class="container content">
            <p class="flow-text">
                {{ post.text }}
            </p>
        </div>
    </div>
    <br />
    <div class="divider"></div>
    <br />
</div>
{% endfor %}

<ul class="pagination center">
    {% if paginator.previous_page %} 
        <li class="waves-effect"><a href="{{ paginator.previous_page_path }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <li class="active"><a href="#!">{{ page }}</a></li>
        {% elsif page == 1 %}
            <li class="waves-effect"><a href="/blog/">{{ page }}</a></li>
        {% else %}
            <li class="waves-effect"><a href="/blog/{{ page }}/">{{ page }}</a></li>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <li class="waves-effect"><a href="{{ paginator.next_page_path }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
</ul>
