body {
    background-color: #F9F9F9;
    margin: 0;
}

/* Navigation */

nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 125px;
    background-color: #262626;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#nav-links {
    -webkit-box-flex: 7;
        -ms-flex: 7;
            flex: 7;
    height: 100%;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.nav-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;

    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#nav a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Pathway Gothic One';
    font-weight: 500;
    color: white;
    text-transform: uppercase;

    -webkit-transition: font-size .25s;
    -o-transition: font-size .25s;
    transition: font-size .25s;
}

/* Prevent nav-item overlapping after 1100px, and again at 950px */
@media (max-width: 1140px) {
    #nav a {
        font-size: 25px;
    }
}

@media (max-width: 950px) {
    #nav a {
        font-size: 22px;
    }
}

.nav-item:not(#icon) a:hover {
    color: #0972af;

    border-bottom: 2px solid #0972af;
    padding-bottom: 3px;
}

#logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

#icon {
    display: none;
}

/* Mobile Navigation */

#mobile-nav {
    display: none;
    position: absolute;
    top: 125px;

    z-index: 100;

    width: 100%;
    margin: 0;
    padding: 15px 0 15px 0;

    background: #262626;
    list-style: none;
}

#mobile-nav li a {
    display: block;
    padding-left: 10%;

    text-decoration: none;
    font-size: 30px;
    font-family: 'Pathway Gothic One';
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    line-height: 1.25em;
}

#mobile-nav li a:hover, #mobile-nav li a:focus {
    color: #262626;
    background-color: white;
}

@media (max-width: 768px) {

    /* Hide nav-items and show menu and logo. */
    #nav .nav-item:not(#icon):not(#logo) {
        visibility: hidden;
    }

    #icon {
        display: block;
    }

    /* Show menu when 'visible' class is appended to #mobile-nav */
    #mobile-nav.visible {
        display: block ! important;
    }
}

/* Footer */

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
    width: 100%;

    background-color: #2a2a2a;
    background: -webkit-gradient(linear, left top, right top, from(#005c97), to(#363795));
    background: -webkit-linear-gradient(left, #005c97, #363795);
    background: -o-linear-gradient(left, #005c97, #363795);
    background: linear-gradient(to right, #005c97, #363795);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.footer-col {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;

    text-align: center;
    font-size: 18px;
    color: white;
    font-family: 'Open Sans';

    -webkit-transition: font-size 1s;

    -o-transition: font-size 1s;

    transition: font-size 1s;
}

@media (max-width: 1100px) {
    .footer-col {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .footer-col {
        display: none;
    }

    .social {
        margin-left: 5%;
        margin-right: 5%;
    }
}

.footer a {
    color: white;
    text-decoration: none;

    text-transform: uppercase;
}

.footer-col a:hover {
    border-bottom: 3px solid white;
    padding-bottom: 3px;
}

.social {
    width: 2.5%;
    padding-left: 1%;
    padding-right: 1%;

    font-size: 25;
    text-align: center;
    color: white;
}

#facebook:hover {
    color: #3b5998;
}

#twitter:hover {
    color: #1da1f2;
}

#instagram:hover {
    color: #833ab4;
}

#youtube:hover {
    color: #ea4335;
}

#github:hover {
    color: #666666;
}

#flickr:hover {
    color: #ff0084;
}
