<html>
    <head>
        <title> Team 334 Robotics </title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    </head>

    <body>
        <div class="row">
            <div id="sidebar" class="col s2 z-depth-1">
                <div id="sidebar-content">
                    <img id="logo" class="responsive-img" src="/assets/images/logo.svg">
                </div>
                <div class="divider"></div>
                <div class="collection hoverable">
                    <a href="/" class="oitem btn waves-effect collection-item active hoverable">Home</a>
                </div>
<!--
                <div class="collection hoverable">
                    <a href="/robots/" class="oitem btn waves-effect collection-item active hoverable">Robots</a>
                </div>
-->

                <div class="collection hoverable">
                    <a href="/about/" class="oitem btn waves-effect collection-item active hoverable">About us</a>
                </div>
                <div class="collection hoverable">
                    <a href="/blog/" class="oitem btn waves-effect collection-item active hoverable">Blog</a>
                </div>
                <div class="divider"></div>
                <div class="container center">
                    <div class="social row">
                        <div class="col s3">
                            <a href="{{ site.social.facebook }}"><p class="flow-text"><i class="fa fa-facebook-square"></i></p></a>
                        </div>
                        <div class="col s3">
                            <a href="{{ site.social.twitter }}"><p class="flow-text"><i class="fa fa-twitter-square"></p></i></a>
                        </div>
                        <div class="col s3">
                            <a href="{{ site.social.instagram }}"><p class="flow-text"><i class="fa fa-instagram"></p></i></a>
                        </div>
                        <div class="col s3">
                            <a href="{{ site.social.github }}"><p class="flow-text"><i class="fa fa-github-square"></p></i></a>
                        </div>
                    </div>
                </div>
                <p class="sponsor center"> Sponsored by: </p>
                <div class="sponsor center">
                    <div class="row">
                        <div class="col s6">
                            <img class="responsive-img" src="/assets/images/sponsors/oldmissioncapital.png" />
                        </div>
                        <div class="col s6">
                            <img class="responsive-img" src="/assets/images/sponsors/ocean7.png" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <img class="responsive-img" src="/assets/images/sponsors/liquidplanner.png" />
                        </div>
                        <div class="col s6">
                            <img class="responsive-img" src="/assets/images/sponsors/individual.png" />
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col s6">
                            <img class="responsive-img" src="/assets/images/sponsors/ikeheller.png" />
                        </div>
                        <div class="col s6">
                            <img class="responsive-img" src="/assets/images/sponsors/cuny.png" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <img class="responsive-img" src="/assets/images/sponsors/coned.png" />
                        </div>
                        <div class="col s6">
                            <img class="responsive-img" src="/assets/images/sponsors/boeing.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div id="content" class="col s10">
                {{ content }}
            </div>
        </div>
    </body>
</html>
