<html>
    <head>
        <title> Team 334 Robotics </title>
        <link rel="shortcut icon" type="image/png" href="../assets/images/favicon.png">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">
        <link rel="stylesheet" href="/assets/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script src="/assets/js/script.js"></script>
    </head>

    <body>
        <div class="row">
            <div id="sidebar" class="col s6 m2 l2 z-depth-1">
                <div id="sidebar-content">
                    <img id="logo" class="responsive-img" src="/assets/images/logo.svg">
                </div>
                <div class="divider"></div>
                <div class="collection hoverable">
                    <a href="/" class="oitem btn waves-effect collection-item active hoverable">Home</a>
                </div>
<!--
                <div class="collection hoverable">
                    <a href="/robots/" class="oitem btn waves-effect collection-item active hoverable">Robots</a>
                </div>
-->

                <div class="collection hoverable">
                    <a href="/about/" class="oitem btn waves-effect collection-item active hoverable">About us</a>
                </div>
                <div class="collection hoverable">
                    <a href="/blog/" class="oitem btn waves-effect collection-item active hoverable">Blog</a>
                </div>
                <div class="divider"></div>
                <div class="social container">
                    <a href="{{ site.social.facebook }}"><i class="fa fa-facebook"></i></a>
                    <a href="{{ site.social.twitter }}"><i class="fa fa-twitter"></i></a>
                    <a href="{{ site.social.instagram }}"><i class="fa fa-instagram"></i></a>
                    <a href="{{ site.social.github }}"><i class="fa fa-github"></i></a>
                </div>
                <div class="sponsors">
                    <p class="sponsor center"> Sponsored by: </p>
                    <div class="sponsor center">
                        <div class="row">
                            <div class="col s6 m12 l6">
                                <a href="http://www.coned.com/"><img class="responsive-img" src="/assets/images/sponsors/coned.png" /></a>
                            </div>
                            <div class="col s6 m12 l6">
                                <a href="http://www.boeing.com/"><img class="responsive-img" src="/assets/images/sponsors/boeing.png" /></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m12 l6">
                                <a href="http://www.oldmissioncapital.com/"><img class="responsive-img" src="/assets/images/sponsors/oldmissioncapital.png" />
                            </div>
                            <div class="col s6 m12 l6">
                                <a href="#!"><img class="responsive-img" src="/assets/images/sponsors/ikeheller.png" /></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m12 l6">
                                <a href="http://www.bthsalumni.org/"><img class="responsive-img" src="/assets/images/sponsors/alumni.png" /></a>
                            </div>
                            <div class="col s6 m12 l6">
                                <a href="http://www.citytech.cuny.edu/"><img class="responsive-img" src="/assets/images/sponsors/cuny.png" /></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m12 l6">
                                <a href="#!"><img class="responsive-img" src="/assets/images/sponsors/individual.png" /></a>
                            </div>
                            <div class="col s6 m12 l6">
                                <a href="http://www.google.com/"><img class="responsive-img" src="/assets/images/sponsors/google.png" /></a>
                            </div>
                        </div>
                        <div class="row"><center>
                            <div class="col s3 l3"></div>
                            <div class="col s6 m12 l6">
                                <a href="http://gibcdigital.com/"><img class="responsive-img" src="/assets/images/sponsors/gibc.png" stlye="" /></a>
                            </div>
                            <div class="col s3 l3"></div>
                        </div>
                    </center></div>
                </div>
            </div>
            <div id="content" class="col s12 m10 l10">
                {{ content }}
            </div>
        </div>
    </body>
</html>
