---
layout: default
---

<link rel="stylesheet" href="/assets/css/layout/liveblog.css">
<link rel="shortcut icon" type="image/png" href="{{ site.url }}/assets/img/favicon.png">
<div class="badge">
    We can't seem to connect to team servers at this time. You will not receive live updates. Check your internet connection.
</div>
<div class="header content">
    <div class="header-info">
        <div class="live">Offline</div>
        <h2 id="event-title">{{ page.title }}</h2>
        <div class="event-metadata">
            <span class="post-date"><i class="fa fa-calendar"></i><span style="font-size: 15">{{ page.date |
                    date: '%B %d, %Y' }}
            </span></span> <span style="padding-right: 15px; font-size: 17px;">Moderated by:</span>
            {% for author in page.author %}
            <div class="author">
                <img src="{{ site.url }}{{ site.data.team[author].image }}">
                {{ author }}
            </div>
            {% endfor %}
        </div>
    </div>
        <img class="background-img" style="object-fit: cover" width="100%" height="100%" src="{{page.images[0]}}">
</div>
<div class="container">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <div class="content">
        <div id="event-desc" class="card">
            <div class="overview">
                <div class="title">
                    <h3 class="section-title">Live from <span id="location"></span></h3>
                    <div id="description">
                        <div class="flagship">
                            <div class="ratio"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="main-content" style="display: flex">
            <div id="main-col">
                <div id="stream">
                    <div id="p1"></div>
                </div>
            </div>

            <div id="sidebar-col">
                <div class="card" style="margin-top: 0">
                    <div class="overview" id="highlights">
                        <div class="title">
                            <h3 class="section-title">Event Highlights</h3>
                        </div>
                        <div id="pins">
                        </div>
                    </div>
                </div>
                <div class="card">
                        <div class="overview" id="highlights">
                            <div class="title all-matches">
                                <h3 class="section-title">Match Data</h3>
                                <h6 id="matchp1" style="margin: 10px 0;">Powered by: <a href="https://thebluealliance.com/team/334" style="text-decoration: none; color: #389dc1;">The Blue Alliance</a></h6>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<script src="https://www.gstatic.com/firebasejs/5.8.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.8.3/firebase-database.js"></script>
<script async src="//www.instagram.com/embed.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyC_lgb2HCIRVHpfb5gO0SEyp7vcQ8aedm8",
        authDomain: "liveblog-90921.firebaseapp.com",
        databaseURL: "https://liveblog-90921.firebaseio.com",
        projectId: "liveblog-90921",
        storageBucket: "liveblog-90921.appspot.com",
        messagingSenderId: "586362346563"
    };
    firebase.initializeApp(config);

    var dataUpdate = firebase.database().ref('{{page.event_name}}/Posts');
    var metaUpdate = firebase.database().ref('{{page.event_name}}/Metadata');
    var pinUpdate = firebase.database().ref('{{page.event_name}}/Pinned');
</script>
<script src="/assets/js/layout/liveblog.js"></script>
<script>
    const statusreq = new XMLHttpRequest();
    const statusurl='https://www.thebluealliance.com/api/v3/team/frc334/event/{{page.event_id}}/status';
    statusreq.open("GET", statusurl);
    statusreq.setRequestHeader('X-TBA-Auth-Key', '2nsVUNsKfMeKvg7XSp04C6VM3uD82da0fVt2ZkpVhSfI8AmM8kZWLwmAdJswRPZc');
    statusreq.send();
    statusreq.onreadystatechange=(e)=>{
        if(statusreq.responseText && statusreq.readyState == 4 && statusreq.status == 200){
            response = JSON.parse(statusreq.responseText);
            document.querySelector('.all-matches').innerHTML += '<p id="TBA-overall">' + response.overall_status_str + '</p>';
        }
    }
    const matchreq = new XMLHttpRequest();
    const matchurl='https://www.thebluealliance.com/api/v3/team/frc334/event/{{page.event_id}}/matches/simple';
    matchreq.open("GET", matchurl);
    matchreq.setRequestHeader('X-TBA-Auth-Key', '2nsVUNsKfMeKvg7XSp04C6VM3uD82da0fVt2ZkpVhSfI8AmM8kZWLwmAdJswRPZc');
    matchreq.send();
    matchreq.onreadystatechange=(e)=>{
        if(matchreq.responseText && matchreq.readyState == 4 && matchreq.status == 200){
            populateTBAScores(matchreq.responseText);
        }
    }
</script>
