---
layout: default
---

<link rel="stylesheet" href="/assets/css/layout/liveblog.css">
<link rel="shortcut icon" type="image/png" href="{{ site.url }}/assets/img/favicon.png">
<div class="header content">
    <div class="header-info">
        <div class="live">Offline</div>
        <h2 id="event-title">{{ page.title }}</h2>
        <div class="event-metadata">
            <span class="post-date"><i class="fa fa-calendar"></i><span style="font-size: 15">{{ page.date |
                    date: '%B %d, %Y' }}
            </span></span> <span style="padding-right: 15px; font-size: 17px;">Moderated by:</span>
            {% for author in page.author %}
            <div class="author">
                <img src="{{ site.url }}{{ site.data.team[author].image }}">
                {{ author }}
            </div>
            {% endfor %}
        </div>
    </div>
        <img class="background-img" style="object-fit: cover" width="100%" height="100%" src="{{page.images[0]}}">
</div>
<div class="container">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>

    <div class="content">
        <div id="event-desc" class="card">
            <div class="overview">
                <div class="title">
                    <h3 class="section-title">Live from <span id="location"></span></h3>
                    <div id="description">
                        <div class="flagship" style="float: right"></div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: flex">
            <div id="main-col">
                <div id="stream">
                    <div id="p1"></div>
                </div>
                <div class="card post-card">
                    <div class="overview">
                        <div class="post">
                            <span class="post-author">
                                <span class="author-name">Samuel Piltch</span>
                                <span class="time">01.06.19 00:17:05</span>
                                <br>
                            <span class="post-content">
                                <img style="object-fit: cover" width="100%" src="http://localhost:4000/assets/img/blog/13/3.jpg">
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="sidebar-col">
                <div class="card" style="margin-top: 0">
                    <div class="overview" id="highlights">
                        <div class="title">
                            <h3 class="section-title">Event Highlights</h3>
                        </div>
                        <div id="pins">
                        </div>
                    </div>
                </div>
                <div class="card">
                        <div class="overview" id="highlights">
                            <div class="title all-matches">
                                <h3 class="section-title">Match Data</h3>
                                <h6 id="matchp1" style="margin:0;">Powered by: <a href="https://thebluealliance.com/team/334" style="text-decoration: none; color: #389dc1;">The Blue Alliance</a></h6>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
<script async src="//www.instagram.com/embed.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyC_lgb2HCIRVHpfb5gO0SEyp7vcQ8aedm8",
        authDomain: "liveblog-90921.firebaseapp.com",
        databaseURL: "https://liveblog-90921.firebaseio.com",
        projectId: "liveblog-90921",
        storageBucket: "liveblog-90921.appspot.com",
        messagingSenderId: "586362346563"
    };
    firebase.initializeApp(config);
</script>

<script>

    const statusreq = new XMLHttpRequest();
    const statusurl='https://www.thebluealliance.com/api/v3/team/frc334/event/2016nyny/status';
    statusreq.open("GET", statusurl);
    statusreq.setRequestHeader('X-TBA-Auth-Key', '2nsVUNsKfMeKvg7XSp04C6VM3uD82da0fVt2ZkpVhSfI8AmM8kZWLwmAdJswRPZc');
    statusreq.send();
    statusreq.onreadystatechange=(e)=>{
        if(statusreq.responseText && statusreq.readyState == 4 && statusreq.status == 200){
            response = JSON.parse(statusreq.responseText);
            document.querySelector('.all-matches').innerHTML += response.overall_status_str;   
        }
    }

    const matchreq = new XMLHttpRequest();
    const matchurl='https://www.thebluealliance.com/api/v3/team/frc334/event/2016nyny/matches/simple';
    matchreq.open("GET", matchurl);
    matchreq.setRequestHeader('X-TBA-Auth-Key', '2nsVUNsKfMeKvg7XSp04C6VM3uD82da0fVt2ZkpVhSfI8AmM8kZWLwmAdJswRPZc');
    matchreq.send();
    matchreq.onreadystatechange=(e)=>{
        if(matchreq.responseText && matchreq.readyState == 4 && matchreq.status == 200){
            response = JSON.parse(matchreq.responseText);
            for(match in response){
                match = response[match];
                console.log(match);
                el = document.createElement("div");
                el.className = "match";
                switch(match.comp_level){
                    case "qm":
                        comp_level = "Qualifying";
                    break;
                    case "qf":
                        comp_level = "Quaterfinal";
                    break;
                    case "sf":
                        comp_level = "Semifinal";
                    break;
                    case "f":
                        comp_level = "Final";
                    break;
                    default:
                        comp_level = "Special";
                    break;
                }
                document.querySelector('.all-matches').innerHTML +=
                `<div class="match `+isMatchWon(match)+`">
                    `+comp_level+` Match #`+match.match_number+`<br>
                    <div class="match-content">
                        <div class="red team">
                            <span class="teams">`+formatTeamNum(match.alliances.red.team_keys[0])+formatTeamNum(match.alliances.red.team_keys[1])+formatTeamNum(match.alliances.red.team_keys[2])+`</span><br><br>
                            <span class="score">`+match.alliances.red.score+`</span>
                        </div>VS.
                        <div class="blue team">
                            <span class="teams">`+formatTeamNum(match.alliances.blue.team_keys[0])+formatTeamNum(match.alliances.blue.team_keys[1])+formatTeamNum(match.alliances.blue.team_keys[2])+`</span><br><br>
                            <span class="score winning">`+match.alliances.blue.score+`</span>
                        </div>
                    </div>
                </div>`;
            }

            function formatTeamNum(Snum){
                num = Snum.slice(3,6);
                return (num == "334") ? "<b> "+num+" </b>" : " "+num+" "
            }
            function isMatchWon(match){
                if(match.winning_alliance == "blue") return "blue-won"
                else if (match.winning_alliance == "red") return "red-won"
            }
        }
    }


    var postsLoaded = false, pinsLoaded = false, descLoaded = false;

    var dataUpdate = firebase.database().ref('{{page.event_name}}/Posts');
    dataUpdate.orderByChild('ID');
    dataUpdate.once('value').then(function (snapshot) {
        postsLoaded = true;
            if (postsLoaded && pinsLoaded && descLoaded) { showLoadedContent() }
    });

    dataUpdate.on('child_added', function(childSnapshot, prevChildKey) {
        p = childSnapshot.val();
        el = document.createElement('div')
        el.className = "card post-card";
        el.id = p.ID;
        dte = new Date(parseInt(p.ID));
        el.innerHTML =
            `
                <div class="overview">
                    <div class="post">
                        <span class="post-author">
                            <span class="author-name">`+p.Author+`</span>
                            <span class="time">`+('0' + dte.getMonth()).slice(-2) + '.' + ('0' + dte.getDay()).slice(-2) + '.' + ('0' + dte.getYear()).slice(-2) + ' ' + ('0' + dte.getHours()).slice(-2) +':'+ ('0' + dte.getMinutes()).slice(-2) +':'+ ('0' + dte.getSeconds()).slice(-2)+`</span>
                            `+((p.Pinned) ? '<a title="Back to Highlights" href="#highlights"><i class="fa fa-thumb-tack"></i></span></a>' : "")+`
                        </span><br>
                        <p class="post-content">
                            `+p.Post+`
                        </p>
                    </div>
                </div>
            `;
        el.appendAfter(document.querySelector('#p1'))
        window.instgrm.Embeds.process();
        twttr.widgets.load()
    });

    dataUpdate.on('child_changed', function(childSnapshot, prevChildKey) {
        p = childSnapshot.val();
        el = document.getElementById(p.ID);
        dte = new Date(parseInt(p.ID));
        el.innerHTML =
            `
            <div class="overview">
                <div class="post">
                    <span class="post-author">
                        <span class="author-name">`+p.Author+`</span>
                        <span class="time">`+('0' + dte.getMonth()).slice(-2) + '.' + ('0' + dte.getDay()).slice(-2) + '.' + ('0' + dte.getYear()).slice(-2) + ' ' + ('0' + dte.getHours()).slice(-2) +':'+ ('0' + dte.getMinutes()).slice(-2) +':'+ ('0' + dte.getSeconds()).slice(-2)+`</span>
                        `+((p.Pinned) ? '<a title="Back to Highlights" href="#highlights"><i class="fa fa-thumb-tack"></i></span></a>' : "")+`
                    </span><br>
                    <p class="post-content">
                        `+p.Post+`
                    </p>
                </div>
            </div>
            `;
            window.instgrm.Embeds.process();
            twttr.widgets.load()
    });

    dataUpdate.on('child_removed', function(childSnapshot, prevChildKey) {
        p = childSnapshot.val();
        el = document.getElementById(p.ID);
        el.remove();
    });

    var metaUpdate = firebase.database().ref('{{page.event_name}}/Metadata');
    metaUpdate.on('value', function (snapshot) {
        meta = snapshot.val()
        // console.log(meta);
        setStatus(meta.Live);
        setBackground(meta.Background);
        setLocation(meta.Location);
        setDescription(meta.Details);
        setFlagship(meta.Flagship);


        function setStatus(isLive) {
            el = document.querySelector(".live");
            if (isLive) {
                el.className += " active";
                el.innerHTML = "Live";
            } else {
                el.className = "live";
                el.innerHTML = "Offline";
            }
            el.style.display = "block";
        }

        function setBackground(backgroundSrc) {
            el = document.querySelector(".background-img");
            el.src = backgroundSrc
        }

        function setLocation(location) {
            el = document.querySelector("#location");
            el.innerHTML = location;
        }

        function setDescription(description) {
            el = document.querySelector("#description");
            el.innerHTML += description;
            descLoaded = true;
            if (postsLoaded && pinsLoaded && descLoaded) { showLoadedContent() }
        }
    });

    function setFlagship(flagship) {
        el = document.querySelector(".flagship");
        el.innerHTML = flagship;
    }

    var pinUpdate = firebase.database().ref('{{page.event_name}}/Pinned');
    pinUpdate.on('value', function (snapshot) {
        pins = snapshot.val();
        putPins(pins);

        function putPins(pins) {
            el = document.querySelector("#pins");
            pinList = Object.keys(pins);
            el.innerHTML = "";
            for (pin in pinList) {
                el.innerHTML +=
                    `
                    <div class="pin">
                        <a href="#` + pinList[pin] +
                    `">
                            <p>` + pins[pinList[pin]] +
                    `</p>
                        </a>
                    </div>
                    `;
            }
            pinsLoaded = true;
            if (postsLoaded && pinsLoaded && descLoaded) { showLoadedContent() }
        }
    });

    function showLoadedContent() {
        loader = document.querySelector(".spinner");
        loader.remove()

        el = document.querySelector("#main-col");
        el.style.display = "block";
        el = document.querySelector("#sidebar-col");
        el.style.display = "block";
        el = document.querySelector("#event-desc");
        el.style.display = "block";
    }

    Element.prototype.appendAfter = function (element) {
        element.parentNode.insertBefore(this, element.nextSibling);
    },false;
</script>
