---
layout: default
---
<script src="/assets/js/blog.js"></script>
<link href="/assets/css/blog.css" rel="stylesheet">
<div class="container">
    <div class="card-panel post">
        <h4 class="post-title flow-text">{{ page.title }}</h4>
            <div class="chip">
                <img src="{{ site.data.members.media[page.author].image }}">
                {{ page.author }}
            </div>
        <span class="post-date"><i class="fa fa-calendar"></i>{{ page.date | date: '%B %d, %Y' }}</span>
        <br /><br />
        <div class="slider">
            <ul class="slides">
                {% for img in page.images %}
                    <li>
                        <img src="{{ img }}" />
                    </li> 
                {% endfor %}
            </ul>
        </div>
        <div class="progress end">
            <div class="determinate" style="width: 100%"></div>
        </div>
        <div class="container content">
            <p class="flow-text">
                {{ page.text }}
            </p>
        </div>
    </div>
</div>
