@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MainFont';
  src: url("../public/fonts/Richardson Brand Accelerator.otf");
}

@font-face {
  font-family: 'SecondaryFont';
  src: url("../public/fonts/oxanium-vrb.ttf");
}

.main {
  font-family: 'MainFont', sans-serif;
}

.secondary {
  font-family: 'SecondaryFont', sans-serif;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  scroll-behavior: smooth;
}

:root {
  color-scheme: dark;
  background-color: #02040D;
}