@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        @apply text-4xl font-bold mb-3;
    }
    h2 {
        @apply text-3xl font-bold mb-3;
    }
    h3 {
        @apply text-2xl font-bold mb-3;
    }
    h4 {
        @apply text-xl font-bold mb-3;
    }
    h5 {
        @apply text-lg font-bold mb-3;
    }
    h6 {
        @apply font-bold mb-3;
    }
    a {
        @apply underline underline-offset-1 decoration-1;
    }
}

@font-face {
    font-family: Oxanium;
    font-weight: 200 800;
    font-style: normal;
    src: url('/fonts/oxanium-vrb.ttf') format('truetype');
}

@font-face {
    font-family: 'Richardson Brand Accelerator';
    font-weight: bold;
    font-style: oblique;
    src: url('/fonts/richardson-brand-accelerator.ttf') format('truetype');
}

:root {
    color-scheme: dark;
    background-color: #02040D;
    color: white;
}
